<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EAB | Sightings</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class='navbar-brand'href=""><img class="logo" src="{{ url_for('static', filename='images/eab.jpg') }}" alt="eab logo" srcset=""></a>
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/sightings">Report a Sighting</a>
                    <a class="nav-link active" aria-current="page" href="/learn_more">Learn More</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Learn More</h1>
        <div class="row" id="learn-more-main">
            <div class="col-md-6">"Attention Quote"</div>
            <div class="col-md-6"></div>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <p>Emeral ash borers are an invasive species and one of the most feared tree pests.  It can kill formerly healthy trees within one to two years with little recourse for saving the tree. The emerald ash borer (or EAB) has killed tens of millions of ash trees in the US. Adult EABs are bright metalic green, about 1/2" in length, and emerge during the summer.  EAB larvae are the main source of damage to the tree as they chew winding paths around the tree trunk cutting circulation of food and water from the tree's roots. Another important infestation sign are small D-shaped holes from which adult EABs emerge in the summer.</p>
            </div>
            <div class="col-md-4">
                <p> Some common signs of infestation are:
                    </p>
                    <ul>
                        <li>Larval  feeding trails under removed bark</li>
                        <li>Increased Woodpecker activity</li>
                        <li>Canopy or crown dieback</li>
                        <li>Sucker shoot along the base of the tree</li>
                        <li>Small D-shaped holes in the bark</li>
                        <li>Emerald green ash borers are less than 1/2" in length</li>
                    </ul>
            </div>
            <div class="col-md-4">
                <p>Portland’s Parks & Recreation Department officials said residents should be on the lookout for signs of the emerald ash borer and should take the following steps to limit the damage to Oregon’s tree canopy:</p>
                    <ul>
                        <li>Report sightings immediately.</li>
                        <li>Avoid moving firewood from one place to another, since firewood can transport insects.</li>
                        <li>Keep ash trees healthy, since the borer is attracted to stressed trees. That means watering trees during the summer drought.</li>
                        <li>Avoid planting any more ash trees.</li>
                        <li>If you are a local tree-care provider, become familiar with signs of emerald ash borer. Report sightings and dispose of wood waste properly.</li>
                    </ul>

            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <hr>
            <h5 class="footer-title">Further Reading</h5>
            <nav class="footer-links">
                <a href="https://oregoninvasiveshotline.org/" target="_blank">Oregon Invasive Species</a> |
                <a href="https://www.opb.org/search/?q=Emerald%20Ash%20Borer" target="_blank">News</a> |
                <a href="https://extension.oregonstate.edu/pub/em-9160" target="_blank">Identification</a> |
                <a href="https://www.dontmovefirewood.org/" target="_blank">Firewood?</a>
            </nav>
        </div>
        
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>